body{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

.nav {
    background-color: #512da8;
    color: white;
    grid-area: nav;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}



.filtros {
    background-color: #8559da;
    color: white;
    padding: 10px;    
    grid-area: filtros;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.filtros select{
    width: 200px;
}

.main {
    padding: 20px;
    grid-area: main;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: auto;
    align-content: space-between;
}

.card{

    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.card img{
    width: 100%;
    
}

.card button{
    width: 40%;
    background-color: #140078;
    color: white;
    border: none;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}
.pages{
    background-color: #8559da;
    color: white;
    padding: 10px;
    grid-area: pages;
    display: flex;
    justify-content: center;
    gap: 2px;
}

.pages button{
    background-color: #140078;
    border: none;
    color: white;
    padding: 5px 10px;
}

.footer {
    background-color: #140078;
    color: white;
    padding: 10px;
    grid-area: footer;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.menu {
    display: none;
}

.grid {
    height: 100vh;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas: 
    "nav" 
    "filtros" 
    "main"
    "pages"
    "footer";
}

@media (min-width: 576px){
    .grid {
        grid-template-rows: auto 1fr auto;
        grid-template-areas: 
        "nav filtros"
        "nav main"
        "footer pages";
    }

    .main {
        grid-area: main;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .logo{
        font-size: 30px;
    }

    .menu {
        display: block;
    }

    .fa-bars {  
        display: none; 
    }

    .nav {  
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 10px; 
    } 
}